
.fa-forward:before { content: '\e800'; } /* '' */
.fa-reply:before { content: '\e801'; } /* '' */
.fa-location:before { content: '\e802'; } /* '' */
.fa-publish:before { content: '\e803'; } /* '' */
.fa-down-circled:before { content: '\e804'; } /* '' */
.fa-down-open:before { content: '\e805'; } /* '' */
.fa-cc-nc-eu:before { content: '\e806'; } /* '' */
.fa-basket:before { content: '\e807'; } /* '' */
.fa-block:before { content: '\e808'; } /* '' */
.fa-arrows-ccw:before { content: '\e809'; } /* '' */
.fa-menu-outline:before { content: '\e80a'; } /* '' */
.fa-th-list:before { content: '\e80b'; } /* '' */
.fa-pin:before { content: '\e80c'; } /* '' */
.fa-pin-outline:before { content: '\e80d'; } /* '' */
.fa-attention:before { content: '\e80e'; } /* '' */
.fa-resize-full-alt:before { content: '\e80f'; } /* '' */
.fa-resize-small:before { content: '\e810'; } /* '' */
.fa-comment-alt:before { content: '\e811'; } /* '' */
.fa-user:before { content: '\e812'; } /* '' */
.fa-heart:before { content: '\e813'; } /* '' */
.fa-star:before { content: '\e814'; } /* '' */
.fa-heart-empty:before { content: '\e815'; } /* '' */
.fa-dot-3:before { content: '\e816'; } /* '' */
.fa-dot:before { content: '\e817'; } /* '' */
.fa-dot-2:before { content: '\e818'; } /* '' */
.fa-cancel-outline:before { content: '\e819'; } /* '' */
.fa-cancel:before { content: '\e81a'; } /* '' */
.fa-ok:before { content: '\e81b'; } /* '' */
.fa-ok-outline:before { content: '\e81c'; } /* '' */
.fa-phone-outline:before { content: '\e81d'; } /* '' */
.fa-phone:before { content: '\e81e'; } /* '' */