
.fa-forward:before { content: '\e800'; } /* '' */
.fa-reply:before { content: '\e801'; } /* '' */
.fa-location:before { content: '\e802'; } /* '' */
.fa-publish:before { content: '\e803'; } /* '' */
.fa-down-circled:before { content: '\e804'; } /* '' */
.fa-down-open:before { content: '\e805'; } /* '' */
.fa-cc-nc-eu:before { content: '\e806'; } /* '' */
.fa-basket:before { content: '\e807'; } /* '' */
.fa-block:before { content: '\e808'; } /* '' */
.fa-arrows-ccw:before { content: '\e809'; } /* '' */
.fa-menu-outline:before { content: '\e80a'; } /* '' */
.fa-th-list:before { content: '\e80b'; } /* '' */