.fancy-font {
  font-family: 'Indie Flower', cursive;

  &.lg {
    font-size: 150%;
  }
}

@import 'fontello/fontello';
@import 'fontello/animation';

body, input, select {
  font-family: 'Fira Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
}
