*
  box-sizing: border-box

body
  font-size: 22px
  background: #ffffff

#main-view
  width: 100%
  margin: 0
  background: #ffffff
  overflow: hidden

.ui-dialog
  background: #868e96
  color: #ffffff
  position: absolute
  top: 0
  z-index: 4000

  //&.ui-hidden
  //  display: none
  //  transform: translate3d(0, -150%, 0)
  //
  //&.ui-displayed
  //  display: block
  //  transform: translate3d(0, 0, 0)

  & .close-button, & .close-button .fa
    display: inline-block
    margin-top: 14px
    margin-right: 11px
    font-size: 28px

//@media only screen and (max-width: 500px)
  #main-view
    width: 80%
    margin: 25px auto

#main-view.mobile
  -webkit-overflow-scrolling: touch

  .splitter-framebar
    position: absolute
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px
    background: #ffffff

    &.displayed
      display: block

    &.hidden
      display: none

.mobile-toolbar-top
  display: flex
  justify-content: space-between
  margin-bottom: 20px

  select.form-control
    width: auto
    margin-left: 0px

  select.agent-select
    -webkit-appearance: textfield
    border: none
    background: transparent

  .select-arrow
    z-index: 100
    position: relative
    left: 10px
    top: 9px
    color: #28a745
    font-weight: bold
    font-size: 140%
    transition: color 200ms linear

    &:active, &:hover, &:focus
      color: #1f7734
