*
  box-sizing: border-box

body
  font-family: 'Fira Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  font-size: 22px
  background: #ffffff

#main-view
  width: 100%
  margin: 0
  background: #ffffff
  overflow: hidden

.ui-dialog
  background: #868e96
  color: #ffffff
  position: absolute
  top: 0
  z-index: 4000

  //&.ui-hidden
  //  display: none
  //  transform: translate3d(0, -150%, 0)
  //
  //&.ui-displayed
  //  display: block
  //  transform: translate3d(0, 0, 0)

  & .close-button, & .close-button .fa
    display: inline-block
    margin-top: 14px
    margin-right: 11px
    font-size: 28px

//@media only screen and (max-width: 500px)
  #main-view
    width: 80%
    margin: 25px auto
