.framebar-overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, .4);
}

.intro-overlay {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: linear-gradient(to bottom, #515151 0%,#343434 100%);

  .inside-1, .inside-1 p {
    font-family: 'Helvetica Neue', 'Helvetica', Arial;
    font-size: 20px;
    text-align: center;
    background: #28a745;
    //color: #295122;
    color: #eafae5;
  }

  .inside-1 {
    border-top-left-radius: 56px;
    border-bottom-right-radius: 90px;
    border-bottom: 5px solid white;
    box-shadow: 3px 3px 18px rgba(0, 0, 0, .3);
  }
}

.frameloading-overlay {
  background: rgba(0, 0, 0, .62);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.inside-1 {
  width: 80%;
  padding: 20px;
}

.privacy-consent-window {
  font-size: 10px;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 46px;
  background: #eeeeee;
  padding: 7px;

  p {
    float: left;
    margin: 0px;
    margin-bottom: 11px;
  }

  button {
    float: right;
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
  .privacy-consent-window {
    left: 0;
    right: 0px;
    height: 100px;
    border-top: 1px solid #e1e1e1;

    button {
      float: none;
    }
  }
}